.action-button {
  --ab-vertical-padding: 20px;
  --ab-horizontal-padding: 20px;
  --ab-color: var(--color-white-0, white);
  --ab-background-color: var(--color-blue-0, blue);

  position: relative;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  margin: 0;
  padding: var(--ab-vertical-padding) var(--ab-horizontal-padding);

  color: var(--ab-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-overflow: ellipsis;

  background-color: var(--ab-background-color);
  border: none;
  border-radius: 4px;
  outline: none;
  overflow: hidden;

  transition: box-shadow 0.2s;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.action-button {
  &:hover,
  &:focus {
    color: var(--color-white-0, white);

    background-color: var(--color-orange-0, orange);
    box-shadow: 1px 2px 4px 0 var(--color-black-0, black);
  }

  &:hover {
    box-shadow: 2px 3px 11px 0 var(--color-black-0, black);
  }

  &:active {
    opacity: 0.2;
  }
}
