.banner {
  display: block;
  width: 100%;

  background-color: var(--color-blue-0, blue);
}

.banner__content {
  position: relative;

  box-sizing: border-box;
  display: block;
  width: $desktop;
  min-height: 400px;
  margin: 0 auto;
  padding: 20px $prime-offset 20px 268px;

  background:
    linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%),
    linear-gradient(183.47deg, rgba(56, 65, 255, 0) 66.3%, #3841FF 97.14%),
    linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%),
    linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);
  background-position:
    0 100%,
    150px 100%,
    797px 100%,
    1067px 100%;
  background-repeat: no-repeat;
  background-size:
    150px 100%,
    150px 269px,
    270px 269px,
    298px 100%;

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 53px;
    z-index: 0;

    display: block;
    width: 446px;
    height: 286px;
    margin-left: 14px;

    background-image: url("../../img/cards.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.banner__title {
  position: relative;
  z-index: 1;

  display: block;
  margin: 82px 0 0;

  color: var(--color-white-1, white);
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
}

.banner__subtitle {
  position: relative;
  z-index: 1;

  display: block;
  margin: 8px 0 0;

  color: var(--color-white-2, white);
  font-size: 22px;
  line-height: 26px;
}

.banner__button {
  --ab-vertical-padding: 18px;
  --ab-horizontal-padding: 36px;
  --ab-color: var(--color-black-1, black);
  --ab-background-color: var(--color-white-1, white);

  position: relative;
  z-index: 1;

  margin-top: 33px;
}
