$max-history-number: 10;

.converter-history {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 477px;
  margin: 99px auto 90px;
  padding: 20px 70px;

  background-color: var(--color-white-1, white);
  border-radius: 4px;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 1px;
    height: 60%;
    min-height: 289px;
    margin-top: 6px;

    background-color: var(--color-gray-0);
    box-shadow: 0 4px 4px var(--color-black-0-25);

    transform: translateY(-50%);
  }
}

.converter-history__title {
  display: block;
  margin: 24px 0 0;

  color: var(--color-black-1, black);
  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
}

.converter-history__exchanges-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 35px auto 38px;
}

.converter-history__exchange-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 260px;
  padding: 15px 0 8px 131px;

  overflow: hidden;

  &::after {
    content: "";

    order: -2;
    flex-shrink: 0;
    display: block;
    width: 40px;
    height: 20px;
    margin: 0 13px;

    background-image: url("../../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--full {
    padding-right: 50%;
  }

  @for $i from 1 through $max-history-number {
    &--order-#{$i} {
      order: $i;
    }
  }
}

.converter-history__exchange-date,
.converter-history__exchange-amount,
.converter-history__exchange-result {
  display: inline-block;
  vertical-align: middle;

  font-size: 18px;
  line-height: 23px;
  text-overflow: ellipsis;

  overflow: hidden;
}

.converter-history__exchange-date {
  order: -4;
  flex-shrink: 0;
  width: 91px;
  margin-right: 40px;
  margin-left: -131px;

  text-align: right;

  overflow: hidden;
}

.converter-history__exchange-amount {
  order: -3;
}

.converter-history__exchange-result {
  order: -1;
}

.converter-history__clear-button {
  --ab-vertical-padding: 17px;
  --ab-horizontal-padding: 29px;

  margin: auto auto 18px 0;

  font-size: 16px;
  line-height: 19px;
}

@media (max-width: $desktop) {
  .converter-history {
    &::before {
      content: none;
    }
  }

  .converter-history__exchange-wrapper {
    width: 100%;

    &--full {
      padding-right: 0;
    }

    @for $i from 1 through $max-history-number {
      &--order-#{$i} {
        order: 0;
      }
    }
  }
}

@media (max-width: $tablet) {
  .converter-history {
    padding: 20px;
  }

  .converter-history__title {
    font-size: 26px;
    text-align: center;
  }

  .converter-history__exchange-wrapper {
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0;
  }

  .converter-history__exchange-date,
  .converter-history__exchange-amount,
  .converter-history__exchange-result {
    width: 100%;
    margin: 5px 0;

    text-align: center;
  }

  .converter-history__exchange-date {
    margin-left: 0;

    color: var(--color-blue-0, blue);
    font-size: 20px;
  }

  .converter-history__clear-button {
    width: 100%;
    margin: auto auto 0;
  }
}
