.prime-header {
  display: block;
  width: 100%;

  background-color: var(--color-white-1, white);

  @include smoothAppearance();
}

.prime-header__content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 13px var(--prime-offset);
}

.prime-header__logo {
  display: block;
  width: 149px;
  height: 25px;
  margin-top: -12px;
}

.prime-header__nav {
  margin: 0 44px;
}

.prime-header__nav-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prime-header__link-wrapper {
  flex-shrink: 0;
}

.prime-header__link {
  display: block;
  padding: 9px 13px 10px;

  font-size: 16px;
  line-height: 19px;

  outline: none;

  transition: transform 0.3s;

  &--active {
    color: var(--color-blue-0, blue);
  }
}

.prime-header__link[href]:not(#{&}--active):not(:disabled) {
  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:hover {
    color: var(--color-orange-0, orange);
  }

  &:active {
    opacity: 0.2;
  }
}

.prime-header__login {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 23px 0;

  color: var(--color-black-1, black);
  font-size: 16px;
  line-height: 19px;

  border: none;
  background-color: transparent;
  outline: none;
}

.prime-header__login-logo {
  --right-offset: 10px;

  display: block;
  width: 20px;
  height: 22px;
  margin: -3px var(--right-offset) 0 0;

  transition: margin 0.3s;
}

.prime-header__login:not(:disabled) {
  &:hover,
  &:focus {
    color: var(--color-orange-0, orange);

    .prime-header__login-logo {
      --hover-offset: 2px;

      margin-right: var(--hover-offset);
      margin-left: calc(var(--right-offset) - var(--hover-offset));

      color: var(--color-black-1, black);
    }
  }

  &:hover {
    .prime-header__login-logo {
      color: var(--color-orange-0, orange);
    }
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tablet) {
  .prime-header__content {
    flex-direction: column;
  }

  .prime-header__logo {
    margin-top: 0;
  }

  .prime-header__nav {
    width: 100%;
    margin: 20px auto 0;
  }

  .prime-header__nav-links-list {
    flex-direction: column;
  }

  .prime-header__link {
    text-align: center;
  }

  .prime-header__login {
    justify-content: center;
    width: 100%;
  }
}
