.prime-header {
  display: block;
  width: 100%;

  background-color: var(--color-white-1, white);

  @include smoothAppearance();
}

.prime-header__content {
  box-sizing: border-box;
  display: flex;
  width: $desktop;
  margin: 0 auto;
  padding: 27px $prime-offset 25px;
}

.prime-header__logo {
  display: block;
  width: 149px;
  height: 25px;
}

.prime-header__nav {
  margin: 0 44px;
}

.prime-header__nav-links-list {
  display: flex;
  flex-wrap: wrap;
}

.prime-header__link {
  display: block;
  padding: 10px 13px;

  font-size: 16px;
  line-height: 19px;

  outline: none;

  transition: transform 0.3s;

  &--active {
    color: var(--color-blue, blue);
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.prime-header__link {
  &[href]:not(#{&}--active) {
    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    &:hover {
      color: var(--color-orange, orange);
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.prime-header__login {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;

  color: var(--color-black-1, black);
  font-size: 16px;
  line-height: 19px;

  border: none;
  background-color: transparent;
  outline: none;
}

.prime-header__login-logo {
  display: block;
  width: 20px;
  height: 22px;
  margin: -3px 10px 0 0;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.prime-header__login {
  &:hover,
  &:focus {
    &,
    & .prime-header__login-logo {
      color: var(--color-orange, orange);
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.2;
  }
}
