$bald-desktop: 1170px;
$prime-offset: 98px;
$desktop: #{$bald-desktop + $prime-offset * 2};

:root {
  --color-white: white;
  --color-black: #000000;
  --color-black-1: #1F1E25;
  --color-black-2: #707C87;
  --color-gray: #F6F7FF;
  --color-blue: #2C36F2;
  --color-orange: #F25B24;
}
